{% extends "./base.html" %}
{% load static %}
{% block signup %}
<!-- static 폴더내에 존재하는 index.css 파일 사용 -->
<link rel="stylesheet" href="{% static 'css/signup.css' %}" />

<div class="signup-container">
    <div class="signup-box">
        <h2 class="signup-title">회원가입</h2>

        <form method="POST" class="signup-form">
            {% csrf_token %}
            {% include "mypage/form_errors.html" %}
            <div class="signup-inputs">
                <div class="signup-inputs">
                    <input type="text" name="username" placeholder="사용자 이름" id="username"
                    value="{{ form.username.value|default_if_none:'' }}">
                    <input type="email" name="email" placeholder="이메일 주소" id="email"
                    value="{{ form.email.value|default_if_none:'' }}">
                    <input type="password" name="password1" placeholder="비밀번호" id="password1"
                    value="{{ form.password1.value|default_if_none:'' }}">
                    <input type="password" name="password2" placeholder="비밀번호 확인" id="password2"
                    value="{{ form.password2.value|default_if_none:'' }}">
                </div>
                <div class="signup-actions">
                    <button type="submit" class="signup-button">가입하기</button>
                </div>
            </div>
        </form>

        </div>
    </div>
</div>
{% endblock %}